
body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	background-image: url("https://i.kym-cdn.com/photos/images/original/001/316/888/f81.jpeg");
	background-size: 2000px;
}
h1 {
	font-size: 50px;
	font-family: palatino, 'Palatino linotype', serif;
}
h2{

}
p {
	font-size: 16px;
	color: blue;
	
}

footer {
	color: purple;
	
}

.quick {
	color: blue;
	text-align: left;
	margin: 30px;
	
	
}
